html, body {
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 14px;
	color:#495061;
	line-height: 1.428571429;
	margin:0;
	background: white;
}
div.clear {clear:both;}

p {
	font-style: normal;
	margin:6px 0px 15px 0px;
}

a {
	/*color:#276AA8;*/
	color:#207CD1;
	text-decoration:none;
}
a:hover {
	color:#31b3ed;
	text-decoration:none;	
}

.section img {margin:10px auto;display:block}

li {margin-bottom: 3px; margin-top: 3px;}
ul ul li  {}


h1 {
font-family: 'PT Sans Caption', arial, sans-serif;
margin-top:0;
margin-bottom:20px;
font-weight: bold;
font-style: normal;
font-size: 2em;
color: black;
line-height: 1.0em;
}

h1 a {color: black;}

header h1 {font-weight: bold; color: white;line-height:1.0em; margin-bottom:10px;}

h2 {
    color: #D3301A;
    font-family: 'PT Sans Caption', Verdana, sans-serif;
	font-size: 1.4em;
    font-weight: normal;
    letter-spacing: 0;
    word-spacing: 0;
	line-height: 1.0em;
	margin-top: 5px;
	margin-bottom: 8px;	
	text-transform: uppercase;
}

h2 a  {color: #D3301A;} 
h2 a.external {color:#207CD1;}

h3 {
font-family: 'PT Sans Caption', arial, sans-serif;
font-size: 1.3em;
font-weight: normal;
margin-top: 0px;
margin-bottom: 14px;
color: black;
line-height: 1.1em;
text-transform: uppercase;
}

h3 a {color: black;}

h4 {
font-family: 'PT Sans Caption', Verdana, sans-serif;
font-size: 19px;
font-weight: normal;
margin-top: 15px;
margin-bottom: 14px;
color: #455C74;
text-transform: uppercase;
line-height: 1.0em;
}

h4 a {color: #455C74;}

h5, h6 {
font-family: 'PT Sans Caption', Verdana, sans-serif;
font-size: 17px;
font-weight: normal;
margin-top: 15px;
margin-bottom: 14px;
color: #455C74;
text-transform: uppercase;
line-height: 1.0em;
}

h5 a, h6 a {color: #455C74;}

div.sphinxsidebar p.logo
{
    margin: 1em 10px 0 0px;
}

div.sphinxsidebar img.logo
{
    margin: auto;
    display: block;
}

.sphinxglobaltoc li
{
    padding: 2px;
    font-size: 100%;
}

.sphinxglobaltoc li.current a
{
   /* font-weight: bold;*/
   color:black;
}

li.toctree-l1, li.toctree-l2, li.toctree-l3, li.toctree-l4, li.toctree-l5
{
  margin-top: 4px;
  text-indent:-20px;
  padding-left: 20px;
}

div#disqus_thread
{
  background: #FFFFFF;
  padding: 10px;
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);
}

div.relbar-bottom div.related_hf
{
  background: #FFFFFF;
  border-radius: 0 0 .7em .7em;
  -moz-border-radius: 0 0 .7em .7em;
  -webkit-border-radius: 0 0 .7em .7em;
}

div.relbar-top div.related_hf
{
  border-radius: .7em .7em 0 0;
  -moz-border-radius: .7em .7em 0 0;
  -webkit-border-radius: .7em .7em 0 0;
}

div.relbar-top div.related, div.relbar-bottom div.related
{
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

table.pageheader {
width: 100%;
}


input[type="text"],
input[type="password"] {
  background: #f8f9f9;
  padding: 0 5px 0 5px;
  min-height: 24px;
  border: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0 white;
  -moz-box-shadow: inset 2px 2px 7px #D3D8DD;
  -webkit-box-shadow: inset 2px 2px 7px #D3D8DD;
  box-shadow: inset 2px 2px 7px #D3D8DD;
}

input[type="submit"] {
  background: #f8f9f9;
  padding: 0 5px 0 5px;
  min-height: 24px;
  border: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 1px 1px 0 white;
  -moz-box-shadow: inset 2px 2px 7px #D3D8DD;
  -webkit-box-shadow: inset 2px 2px 7px #D3D8DD;
  box-shadow: inset 2px 2px 7px #D3D8DD;
}

div.drops {
  font-size: 15px;
  height: 60px;
}

div.drops label {
  color: #909cb5;
}

span.drop_release {
  margin-top: 6px;
  display: block;
  height: 30px;
  float: right;
}

span.drop_metric {
  margin-top: 6px;
  margin-right: 1em;
  display: block;
  height: 30px;
  float: right;
}

select {
  background: #f8f9f9;
  padding: 0 5px 0 5px;
  min-height: 24px;
  border: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 1px 1px 0 white;
  -moz-box-shadow: inset 2px 2px 7px #D3D8DD;
  -webkit-box-shadow: inset 2px 2px 7px #D3D8DD;
  box-shadow: inset 2px 2px 7px #D3D8DD;
}

div.aheader {
  margin-top: 23px;
  text-shadow: 1px 1px 0 #fff;
}

div.aheader h1 {
  font-size: 36px;
  color: #a8b3bd;
  text-shadow: 1px 1px 0 #fff;
}

div.aheader h1 a {
  font-weight: bold;
  color: #637f99;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
}

div.page div.navigation {
  text-shadow: 1px 1px 0 #fff;
  padding: 4px 10px;
  border-top: 1px dashed #e9eaef;
  border-bottom: 1px dashed #e9eaef;
  color: #909cb5;
  font-size: 10pt;
}

div.page div.navigation a {
  color: #444;
  font-weight: bold;
}

div.page h2 {
  margin: 10px 0 0 10px;
  color: #a41200;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 1em 1em;
  font-size: 9pt;
}

div.page ul.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.messages li {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
}

div.page ul.messages p {
  margin: 0;
}

div.page ul.messages li img {
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.messages li small {
  font-size: 0.9em;
  color: #888;
}

div.page div.twitbox {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #94E2DA;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.twitbox h3 {
  margin: 0;
  font-size: 1em;
  color: #2C7E76;
}

div.page div.twitbox p {
  margin: 0;
}

div.page div.twitbox input[type="text"] {
  width: 585px;
}

div.page div.twitbox input[type="submit"] {
  width: 70px;
  margin-left: 5px;
}

ul.flashes {
  list-style: none;
  margin: 10px 10px 0 10px;
  padding: 0;
}

ul.flashes li {
  background: #B9F3ED;
  border: 1px solid #81CEC6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

.spacer {
  height: 20px;
  clear: both;
}

table#left_list td {
  font-size: 15px;
}

table#right_list td {
  font-size: 15px;
}

div#left_list_wrapper {
  margin-top: 20px;
}

div#right_list_wrapper {
  margin-top: 20px;
}

.message {
  white-space: pre-wrap;
}

a[href^="https://blueprints"]:after {
  content: "↗";
  opacity: 0.3;
}

a[href^="https://review"]:after {
  content: "↗";
  opacity: 0.3;
}

a[href^="https://bugs"]:after {
  content: "↗";
  opacity: 0.3;
}

a[href^="https://launchpad"]:after {
  content: "↗";
  opacity: 0.3;
}

#analytics_header {
  float: left;
}

#analytics_header h3 {
  font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: black;
  text-shadow: 1px 1px 0 #fff;
  margin: 0;
}

#analytics_header p {
  font-family: georgia, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #647280;
  line-height: 1.1em;
  text-shadow: 1px 1px 0 #fff;
}

.paging_full_numbers {
  font-size: 9pt;
}

/* MIRANTIS CSS*/

#miraheader {
  margin: 0 auto;
  width: 960px;
}

#top-menu {
  height: 30px;
}

#ttopmenu {
  float: right;
  height: 20px;
  overflow: hidden;
  margin-top: 10px;
}

#ttopmenu  a {
  font-size: 13px;
  font-style: italic;
  color: #A7B6C3;
}

#ttopmenu  a:hover {
  color: #6e8598;
}

#main-menu {
  height: 47px;
  margin-top: 30px;
  text-align: right;
  position: relative;
}

a.glink {
  color: black;
  font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
  font-size: 19px;
  padding: 5px 5px 5px 12px;
  white-space: nowrap;
  text-decoration: none;
}

a.glink:hover {
  color: #d3301a;
}

.subglobalNav {
  color: black;
  position: absolute;
  font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
  left: 0px;
  padding-top: 10px;
}

.subglobalNav a {
  color: black;
  text-decoration: none;
  padding: 2px 7px 2px 7px;
  margin-left: 12px;
}

.subglobalNav a:hover {
  color: #fff;
  background: #CB2E19;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-left: 12px;
  text-shadow: -1px -1px 0px #7F2114;
}

a.act {
  color: #d3301a !important;
}

a.act:hover {
  color: #fff !important;
  background: #CB2E19;
}

a.active {
  color: #d3301a;
}

#dummy {
  height: 115px;
  margin-top: 20px;
  width: 100%;
}

#footer, #header {
  font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
  font-size: 17px;
  line-height: 21px;
  text-shadow: 1px 1px 0px white;

}

#headerground {
  background: #161b24 url(gears_light.jpg) no-repeat center center;
  transition: all 0.2s ease;
  background-size: cover;
}

header {
  transition: all 0.2s ease;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(13,15,2,0.7) 0%,rgba(0,0,0,0) 100%);
}

#mira-right{float: right;background:#202538; font-family: 'PT Sans Caption', 'PT Sans', arial, sans-serif;position: absolute;display: none; right:0;z-index:10; top: 50px;transition: all 0.2s ease; padding:0 0 15px 0;box-shadow:0 0 20px rgba(0,0,0,0.5);}


#mira-right ul {list-style-image: none; list-style-type: none; margin:0; padding:0;}
#mira-right ul li{margin:0; padding:0;}

#mira-right ul li a {text-transform: uppercase; color: white; display: block; padding:10px 10px 10px 15px;margin:0;transition: all 0.2s ease;}
#mira-right ul li a:hover {color: #41c4ff; background:#3f4f69;}
#mira-right ul ul li a {font-size: 90%; color: #59A4D6; padding: 5px 5px 5px 30px;}
#mira-right ul ul li a:hover {color: #41c4ff;}
.mirarignt_selected {background: #d63327;}

#mira-menu {margin-top: 20px; text-align: right; padding:0;}
#mira-menu-int {margin-top: 10px; text-align: right; padding:0;}
#mira-menu-switch{display: none; float: right;}
div.innermenu_sw {position: relative;float: right;padding: 9px 10px;margin-top: 8px;margin-bottom: 8px;background: #5f8cb6;color: white;box-shadow: 0 3px 0 #436281;}
div.innermenu_sw:hover {cursor:pointer;background:#2d9ed0; color:white;  box-shadow: 0 3px 0 #2789b5;}
div.innermenu_sw span {display: block;background:white;width: 22px;height: 2px;border-radius: 1px;}
div.innermenu_sw span  + span {margin-top:5px;}

div.col_miramenu_int {padding:0;}

a.glink {
color: white;
display: inline-block;
font-family: 'PT Sans Narrow', 'Arial Narrow', arial,sans-serif;
font-size: 19px;
letter-spacing: 1px;
padding: 5px 16px;
margin:0;
white-space: nowrap;
text-decoration: none;
transition: all 0.2s ease;
}

a.glink:hover {
  color:#c0200c;
  background: white;
  border-bottom: 2px solid black;
}

footer {
  padding: 20px 0 0 0;
  background: #161b24 url(gearcloud_dark_footer.jpg) no-repeat center center;
}

footer ul  {margin: 0 0 15px 0; list-style-type:none; list-style-image:none;padding: 0;}
footer ul  li {line-height: 16px; margin-bottom:0;}
footer a {font-family: 'PT Sans Caption', 'PT Sans', arial, sans-serif;font-size: 11px;text-transform: uppercase;color: #58B7F5;}
footer a:hover {color: #8BD1FF}
footer p {margin-bottom: 6px;}
footer p a {font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif; font-size: 15px; color: black; text-transform: uppercase;}
span.pureplay_btm {color: #d63327; font-size: 12px;}
span.mira_btm {color: white}
span.copy_btm {color:#929aa2;}
.footer_copy {margin-top: 30px; background:rgba(0,0,0,0.5); padding: 10px 0;}
div.col-copy {text-align: center;}
div.col-address {text-align:right;}

a.fmenu_section {
font-size: 1.2em;
padding-bottom: 12px;
display: inline-block;
color: white;
}

#foottable  td {
  padding-top: 20px;
}

#footer_content, #header_content {
  max-width: 960px;
  margin: 4px auto auto auto;
/*
  height: 110px;
*/
}

.fgeneral {
  color: black;
}

.fgeneralblue {
  color: #43678a;
}

.fslogan {
  font-family: 'PT Sans', arial, sans-serif;
  font-style: italic;
  color: #43678a;
  font-size: 13px;
}

#fbox {
  padding-left: 10px;
  border-left: 1px solid #d5dbe1;
}

a.external:before {
    content: "";
    padding-right: 0.1em;
}

/* MIRANTIS CSS*/

tt.literal
{
  border: none;
}

/*  MEGAMENU  */

#miramenu1:hover, #miramenu2:hover, #miramenu4:hover, #miramenu5:hover, #miramenu7:hover {background: white;
color: #d63327;
border-radius: 3px 3px 0 0;}

div.megamenu_container {
position: absolute;
top: 42px;
left: -9000px;
background: white;
border-radius: 3px 3px 6px 6px;
box-shadow: 0 15px 20px rgba(31,48,60,0.1);
z-index:10;
padding: 0 15px 5px 15px;
}

/*#mega6 {left: 50% !Important;}*/
div.megahidden {display: none;}
div.megamenu div {/*border-right: 1px solid #eceded;*/}
div.megamenu div:last-child {border: none;}

h3.megamenu_capt {font-family:'PT Sans Caption', verdana, sans-serif; font-size: 18px; color:black; margin: 15px 0 15px 0; font-weight: bold; width:100%;line-height:1em;text-transform: uppercase;}
a h3.megamenu_capt {}
a h3.megamenu_capt:hover {color:#207CD1;}
h4.megamenu_subcapt {font-size: 16px; font-family:'PT Sans', arial, sans-serif; color:#d63327; font-style:italic;font-weight: normal;margin: 15px 0 6px 0;text-transform: none;line-height:1em;}
a h4.megamenu_subcapt:hover {color:#207CD1;}
div.megamenu {}
/*div.megamenu a{color:#1da2dd;font-size: 13px; font-style: italic; display: inline-block; margin-bottom: 5px;}
div.megamenu a:hover{color:#36c1ff;}*/
div.megamenu p{font-size: 12px; line-height: 14px; color:#5c5e63;}
div.megamenu a.mmcta{background:#f2f6f9; font-family:'PT Sans Caption', verdana, sans-serif; padding: 3px 5px;display: inline-block; margin: 0 0 10px 0;border:1px solid #eaf0f4;border-radius:2px;font-size:1.0em;width:100%;text-align:center;}
div.megamenu a.mmcta span {display: block;font-size: 10px; font-family: 'PT Sans', arial, sans-serif;}
div.megamenu a.mmcta:hover {background:#edf7ff;}
div.megafoot {min-height: 30px;}
div.megafoot a.mmcta{display: inline-block; font-family:'PT Sans Caption', verdana, sans-serif; font-style: normal; color: white; padding: 6px 13px; border-radius: 5px; background:#18B8FF; margin: 10px 0 15px 0; font-size: 16px;transition: all 0.2s ease;}
div.megafoot a.mmcta:hover{background:#43c5ff;}
div.megamenu ul  {list-style-image: url("../imgresp/bull_sm_red.png");margin: 0 0 20px 0;padding-left: 20px;}
div.megamenu ul li {margin-bottom: 2px;font-size: 14px;line-height: 1em;font-style: italic;color: #5D666B;}

a.megatrain {
display: block;
width: 80%;
text-align: center;
background: #5f8cb6;
color: white; 
box-shadow: 0 2px 0 #436281;
text-transform: uppercase;
font-size: 1.1em;
margin: 0 0 20px 0;
font-family: 'PT Sans Caption', Verdana, arial, sans-serif;
padding: 3px;
border-radius: 6px;
font-style:normal;
text-decoration: none;
}
a.megatrain:hover {background:#2d9ed0; color:white; box-shadow: 0 2px 0 #2b99ca;}

a.megatrain span {
display: block;
font-size: 0.6em;
text-transform: none;
}

div.blogpost_url a {line-height: 1em;}
div.blogpost_item {margin-bottom: 20px;}

/*  END of MEGAMENU  */




@media (min-width: 1199px)  {
h1 {font-size: 2.5em;}
div.footer_icon_set a span {font-size: 150%!important;}
div.col_miralogo img  {margin: 5px 0 5px -14px;max-height: 80px;}
div.megamenu_container {/*margin-left: -575px;*/margin-left: -385px;width: 970px;}
.showonmobile  {display:none!important;}
.section img {max-width:50%;}
div.sphinxsidebar, div.sidebartoggle {width:320px;}
div.bodywrapper {margin: 0 0 0 320px;}
div.sphinxsidebar #searchbox input[type="text"] {width:260px;}
html, body {font-size: 18px;}
}


@media (min-width: 992px) and (max-width: 1199px)  {
h1 {font-size: 2.5em;}
.homeheader h2 {font-size: 3em; margin:0 !important;}
a.glink {letter-spacing: 1px;padding: 5px 10px;}
div.col_miralogo img  {margin: 5px 0 5px -14px;max-height: 80px;}
div.megamenu_container {/*margin-left: -485px;*/ margin-left: -265px;width: 750px;}
.showonmobile  {display:none!important;}
.homeheader, .mpslide, #slider_imgs {height: 527px;}
div.megafoot a.mmcta {font-size:14px; padding: 4px 9px;font-family: 'PT Sans', arial, sans-serif;}
div.col-copy span, div.col-address span {font-size:13px;}
.section img {max-width:70%;}
div.sphinxsidebar, div.sidebartoggle {width:300px;}
div.bodywrapper {margin: 0 0 0 300px;}
div.sphinxsidebar #searchbox input[type="text"] {width:250px;}
html, body {font-size: 16px;}
}


@media (min-width: 768px) and (max-width: 992px) {
h1 {font-size: 2em;}
#mira-menu-int {margin-top:13px;}
a.glink {letter-spacing: 0px;padding: 5px 7px;font-size: 16px;}
div.col_miralogo img  {margin: 5px 0 5px -8px;max-height: 80px;}
div.megamenu_container {/*margin-left: -375px;*/margin-left: -250px;width: 625px;}
a.hideonmobile {display: none;}
.homeheader, .mpslide, #slider_imgs {height: 508px;}
div.megafoot a.mmcta {font-size:14px; padding: 4px 9px;font-family: 'PT Sans', arial, sans-serif;}
h3.megamenu_capt {font-size:16px;}
div.megamenu ul li {font-size:13px;}
h4.megamenu_subcapt {font-size:14px;}
div.megamenu a.mmcta {padding: 3px 4px;font-family: 'PT Sans', arial, sans-serif;}
div.megamenu a.megatrain span {display: none;}
div.col-copy span, div.col-address span {font-size:11px;}
div.sphinxsidebar #searchbox input[type="text"] {width:200px;}
}


@media (min-width: 399px) and (max-width: 767px) {
footer {background-size: cover;}
#mira-menu-int {display: none;}
#mira-menu-switch {display: block;}
h1 {font-size: 2.0em}
h2 {font-size: 1.5em;line-height: 1.2em;}
div.col_miralogo {max-height:58px;}
div.col_miralogo img  {margin: 5px 0 5px -8px;max-height: 42px;}
.notsobigplz {max-width: 50%; margin-bottom:20px;}
div.megamenu_container {margin-left: -200px;}
.hideonmobile {display: none !important;}
.showonmobile  {display: inline-block;}
div.fadeonmobile {background:rgba(0,0,0,0.5);height:100%;}
div.col_miramenu_int {padding-left:15px; padding-right:15px}
.homeheader, .mpslide, #slider_imgs {height: 508px;}
div.col-copy, div.col-address {text-align:left;padding-top: 6px;}
div.col-copy span, div.col-address span {font-size:12px;text-align:left;}
div.sphinxsidebar, div.sidebartoggle {width:200px;}
div.sphinxsidebar {font-size: 80%;}
div.bodywrapper {margin: 0 0 0 200px;}
div.sphinxsidebar #searchbox input[type="text"] {width:150px;}
html, body {font-size: 13px;}
div.body p, div.body dd, div.body li {line-height:1.1em;}
}

@media (max-width: 398px) {
footer {background-size: cover;}

#mira-menu {display: none;}
#mira-menu-int{display: none;}
#mira-menu-switch{display: block;}
h1 {font-size: 1.7em;}
h2 {font-size: 1.3em;line-height: 1.3em;}
div.col_miralogo {max-height:44px;}
div.col_miralogo img  {margin: 5px 0 5px -4px;max-height: 42px;}
.notsobigplz {max-width: 50%; margin-bottom:20px;}
.hideonmobile {display: none !important;}
.showonmobile  {display: inline-block;}
div.fadeonmobile {background:rgba(0,0,0,0.7);height:100%;}
div.col_miramenu_int {padding-left:15px; padding-right:15px}
.homeheader, .mpslide, #slider_imgs {height: 400px;}
div.col-copy, div.col-address {text-align:left;padding-top: 6px;}
div.col-copy span, div.col-address span {font-size:12px;}
div.sphinxsidebar, div.sidebartoggle {width:150px;}
div.sphinxsidebar {font-size: 70%;}
div.bodywrapper {margin: 0 0 0 150px;}
div.sphinxsidebar #searchbox input[type="text"] {width:100px;}
html, body {font-size: 12px;}
div.body p, div.body dd, div.body li {line-height:1.1em;}
}
